<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @nature_of_business.name %>
</p>


<%= link_to 'Edit', edit_nature_of_business_path(@nature_of_business) %> |
<%= link_to 'Back', nature_of_businesses_path %>
