<h2>Client Info</h2>
<div>
	<%= @client.company_name %>
</div>
<div>
	<%= link_to "Delete", client_path, :confirm => "Blah blah blah #{@client.company_name.upcase}.?", :method => :delete %> ||
	<%= link_to "Edit", edit_client_path %>
</div>
<%= link_to "<<< Back to All Clients", clients_path %>
