<div>
	<%= @inquire.name %>
</div>
<div>
	<%= link_to "Delete", inquire_path(@inquire), :confirm => "Are you sure??", :method => :delete %> ||
	<%= link_to "Edit", edit_inquire_path %>
</div>
<%= link_to "<< Back to All Inquire", inquires_path %>