<footer class="footer">
  <small>
    <a>Copy Right</a>
    by ASI.COM.PH
  </small>
  <nav>
    <ul>
      <li><%= link_to "LINK",   '#' %></li>
      <li><%= link_to "LINk", '#' %></li>
      <li><%= link_to "LINk", '#' %></li>
    </ul>
  </nav>
</footer>
